Source: mackerel-agent-plugins
Maintainer: kometchtech <kometch@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2

Package: mackerel-agent-plugins
Architecture: armhf
Description: plugins for Mackerel
